[General]
InstanceName = Fluffys Flohmarkt
ExternalURL = http://fluffy.cat
DebugMode = 0

[Database]
Server = 192.168.0.52
Port = 27017
User = foo
Password = bar

[SMTP]
Server = mail.foo.org
Port = 587
User = user@foobar.org
Password = S0op3rs3cr3t

