[General]
InstanceName = Fluffys Flohmarkt
ExternalURL = http://example.org
DebugMode = 0
JwtSecret = S0op3rs3cr3t
DataPath = /var/lib/flohmarkt

[Database]
Server = https://user:password@some.couchdb.server.nil:1345/

[SMTP]
Server = mail.example.org
Port = 587
User = user@example.org
From = user@example.org
Password = S0op3rs3cr3t
CAFile = /path/to/foo.pem
