.grid {
    display: grid;
    grid-gap: 0.5rem;
}

.grid__newest,
.grid__contested,
.grid__user-items,
.grid__images {
    grid-template-columns: repeat(2, 1fr);
}

.grid__results {
    grid-template-columns: repeat(1, 1fr);
}

.grid__results p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(min-width: 576px)and (max-width: 767.98px) {
    .grid__results {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(min-width: 768px)and (max-width: 991.98px) {
    .grid__results {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media(min-width: 992px) {
    .grid__results {
        grid-template-columns: repeat(4, 1fr)
    }
}

.grid__images:not(:empty) {
    /*height: 256px;
    overflow-y: auto;*/
}

.grid__images > li:first-child {
    grid-column-end: span 2;
}
