.grid {
    display: grid;
}

.grid__newest,
.grid__contested,
.grid__user-items,
.grid__results {
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.grid__admin {
    grid-template-columns: repeat(4, 1fr);
}
