.grid {
    display: grid;
    grid-gap: 0.5rem;
}

.grid__newest,
.grid__contested,
.grid__user-items,
.grid__images {
    grid-template-columns: repeat(2, 1fr);
}
.grid__results{
    grid-template-columns: repeat(4, 1fr);
}
.grid__images:not(:empty) {
    /*height: 256px;
    overflow-y: auto;*/
}

.grid__images > li:first-child {
    grid-column-end: span 2;
}

