.icon {
    width: 24px;
    height: 24px;
    vertical-align: sub;
    stroke-width: 2;
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.icon--logo {
    width: 42px;
    height: 42px;
}

.icon--photo {
    width: 100%;
    height: auto;
    aspect-ratio: 5 / 4;
}
