.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group > input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group > button {
    position: relative;
    z-index: 2;
}

.input-group > :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > :last-child {
    margin-left: calc(1px * -1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.m-0 {
    margin: 0;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.top-0 {
    top: 0 !important;
}

.right-0 {
    right: 0 !important;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.w-100 {
    width: 100%;
}
