<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flohmarkt</title>
    <link rel="stylesheet" href="/static/app.css">
    <link rel="stylesheet" href="/static/columns.css">
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/item.css">
    <link rel="stylesheet" href="/static/utils.css">
</head>
<body>
    <header>
        <nav>
            <a href="/" aria-label="Go to home page"><img src="logo.svg" alt="Logo Flohmarkt"></a>
            <button>Fred</button>
        </nav>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-6">
                <img src="item.jpg" alt="Item">
                <Button>1</Button>
                <Button>2</Button>
                <Button>3</Button>
                <p>30€</p>
                <Button>Edit</Button>
                <Button>Sold</Button>
                <p>Description foo</p>
            </div>
            <div class="col-sm-6">
                <div class="d-flex">
                    <img src="user1.jpg" alt="User1">
                    <img src="user2.jpg" alt="User2">
                    <img src="user3.jpg" alt="User3">
                </div>
                <p>George: Yo, nice mower!</p>
                <p>George: Can I pick it up at 2100 tomorrow?</p>
                <p>Me: Yes, sure. Come to me.</p>
            </div>
        </div>
    </main>
    <footer><a href="/article.html">static article page</a></footer>
</body>
</html>
