<nav>
    <a href="/">
        <img src="{{ url_for('static', path='/logo.svg') }}" alt="Logo Flohmarkt" width="42" height="42">
    </a>
    <ul>
        <li>
            <form role="search" action="/search">
                <div class="input-group">
                    <input type="text" name="q" placeholder="Search Flohmarkt" aria-label="Search Flohmarkt">
                    <button>Go</button>
                </div>
            </form>
        </li>
        <li hidden id="register-list-item"><a href="/register"><i>Register</i></a></li>
        <li hidden id="login-list-item"><a href="/login"><i>Sign in</i></a></li>
        <li hidden id="details-list-item">
            <details>
                <summary aria-label="View profile and more" aria-haspopup="menu" role="button">
                    <img src="{{ url_for('static', path='/user.svg') }}" alt="User icon" width="24" height="24">
                </summary>
                <div class="details-menu">
                    <span>Signed in as </span>
                    <hr>
                    <a>Your profile</a>
                    <hr>
                    <a href="/logout">Sign out</a>
                </div>
            </details>
        </li>
    </ul>
</nav>
