<nav>
    <a class="mr-2" href="/" aria-label="Homepage">
        <svg class="icon icon--logo" role="img" aria-hidden="true">
            <use href="/static/sprite.svg#logo"></use>
        </svg>
    </a>
    <ul class="order-md-1">
        <li hidden id="register-list-item">
            {% if settings.registrations == "open"  %}<a href="/register"><i>Register</i></a>{% endif %}
        </li>
        <li hidden id="login-list-item"><a href="/login"><b>Sign in</b></a></li>
        <li hidden id="new-list-item">
            <a href="/new" aria-label="Create new item">
                <svg class="icon icon--plus" role="img" aria-hidden="true">
                    <use href="/static/sprite.svg#plus"></use>
                </svg>
            </a>
            <a href="/messages" aria-label="New messages">
                <svg class="icon icon--plus" role="img">
                    <use href="/static/sprite.svg#mail"></use>
                </svg>
            </a>
        </li>
	<li></li>
        <li hidden id="details-list-item">
            <details>
                <summary aria-label="View profile and more" aria-haspopup="menu" role="button">
                    <span id="avatar-slot"></span>
                </summary>
                <div class="details-menu">
                    <span>Signed in as </span>
                    <hr>
                    <a class="l-profile">Your Profile</a><br>
                    <a class="l-messaging">Messaging</a><br>
                    <span class="s-site-moderation">
                        <a class="l-site-moderation">Moderation</a><br>
                    </span>
                    <span class="s-site-admin">
                        <a class="l-site-admin">Site Administration</a>
                    </span><hr>
                    <a href="/logout">Sign out</a>
                </div>
            </details>
        </li>
    </ul>
    <form action="/search" role="search">
        <input type="text" class="w-100 m-0" name="q" placeholder="Search Flohmarkt" aria-label="Search Flohmarkt">
    </form>
</nav>
