{% extends "base.html" %}

{% block scripts %}
<script defer type="module" src="/static/index.js"></script>
{% endblock %}

{% block main %}
<div id="instance-info" style="display:none;">
    <div class="row">
        <div class="col-md-6">
            <h2>About this instance</h2>
        <pre>{{ settings.about }}</pre>
        </div>
        <div class="col-md-6">
            {% if adminuser != null %}
            <h3>Administration</h3>
            <p>
                <a href="/~{{ adminuser.name }}">
                    <img style="float:left; width: 75px; height:75px; border-radius:37.5px; margin-right:10px;" src="/api/v1/image/{{ adminuser.avatar }}">
                </a>
                this instance is run by <a href="/~{{ adminuser.name }}">{{ adminuser.name }}</a><br><br><i>{{ adminuser.bio }}</i>
            </p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="grid grid__results"></section>
    </div>
</div>
{% endblock %}
