{% extends "base.html" %}

{% block scripts %}
<script defer type="module" src="{{ url_for('static', path='/index.js') }}"></script>
{% endblock %}

{% block main %}
<h1>Flohmarkt</h1>
<p>A decentral federated small trade platform.</p>
<div class="row">
    <div class="col-md-6">
        <h2>Newest items</h2>
        <section class="grid grid__newest"></section>
        <h2>Most contested</h2>
        <section class="grid grid__contested"></section>
    </div>
    <div class="col-md-6 col__about">
        <h2>About this instance</h2>
        <p>foo</p>
        <h3>Rules</h3>
        <p>foo</p>
        <h3>Administration</h3>
        <p>by Admin</p>
    </div>
</div>
{% endblock %}
