{% extends "base.html" %}

{% block scripts %}
    <script defer type="module" src="{{ url_for('static', path='/login.js') }}"></script>
{% endblock %}

{% block main %}
<h1>Login</h1>
{% include 'description.html' %}
<section>
    <!--<form action="" method="post" type="multipart/form-data">-->
    <div class="loginform">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"></input>
        <label for="password">Password</label>    
        <input type="password" id="password" name="password"></input>    
        <button class="login_button">Login</button>
    </div>
    <!--</form>-->
</section>
{% endblock %}
