{% extends "base.html" %}

{% block scripts %}
<script defer type="module" src="/static/messages.js"></script>
{% endblock %}

{% block main %}
    <h3> Messages </h3>
    <div class="expand-content">
        <div class="row" style="">
            <div class="col-md-3">
                <table id="conversation-selector" class="w-100" style="overflow:hidden;">
                </table>
                <button id="more-button" style="margin-left: auto; margin-right: auto; display:none;">
                    More
                </button>
            </div>
            <div class="col-md-9" id="conversation-display">
                
            </div>
        </div>
    </div>
{% endblock %}
