{% extends "base.html" %}

{% block scripts %}
<script defer type="module" src="{{ url_for('static', path='/register.js') }}"></script>
{% endblock %}

{% block main %}
<section>
    <header>
        <h1>Register</h1>
    </header>
    <form action="/register" method="post" type="multipart/form-data">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" autocomplete="username">
        <label for="email">E-Mail</label>
        <input type="text" id="email" name="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" autocomplete="new-password">
        <label for="password-repeat">Repeat password</label>
        <input type="password" id="password-repeat" name="password-repeat" autocomplete="new-password">
        <button type="submit" class="w-100" id="register-btn" disabled>Register</button>
    </form>
</section>
{% endblock %}
