{% extends "base.html" %}

{% block main %}
<h1>Register</h1>
{% include 'description.html' %}
<section>
    <form action="/register" method="post" type="multipart/form-data">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"></input>
        <label for="username">E-Mail</label>
        <input type="text" id="email" name="email"></input>
        <label for="password">Password</label>    
        <input type="password" id="password1" name="password1"></input>
        <label for="password">Password (again)</label>    
        <input type="password" id="password2" name="password2"></input>    
        <button type="submit">Register</button>
    </form>
</section>
{% endblock %}
