{% extends "base.html" %}

{% block scripts %}
<script defer type="module" src="/static/setup.js"></script>
<link rel="stylesheet" href="/static/leaflet.css" />
<script src="/static/leaflet.js"></script>
{% endblock %}

{% block main %}
<section>
    <header>
        <h1> Flohmarkt instance Setup </h1>
	<p> 
	  Congratulations to your new Flohmarkt instance. You should now
	</p>
    </header>
    <input type="hidden" value="{{initkey}}" id="initkey">
    <form id="setup-form"  method="post" type="multipart/form-data">
	    <h2> Admin User </h2>
		<label for="username">Adminuser Name</label>
		<input type="text" name="username" autocomplete="username">
		<label for="email">Adminuser E-Mail</label>
		<input type="text" name="email">
		<label for="password">Password</label>
		<input type="password" name="password" autocomplete="new-password">
		<label for="password-repeat">Repeat password</label>
		<input type="password" name="password-repeat" autocomplete="new-password">
	    <h2> Instance Info </h2>
		<label for="instancename">Instance Name</label>
		<input type="text" name="instancename" autocomplete="instancename">
        <h3> Coordinates </h3>
        <div id="map" style="height:200px;"></div>
		<label for="perimeter">Range (in km)</label>
		<input type="text" name="perimeter" id="perimeter" placeholder="10">
        <input type="hidden" name="coordinates" id="coordinates">
		<button id="setupbutton" class="w-100">Set up</button>
    </form>
</section>
{% endblock %}
