{% extends "base.html" %}

{% block scripts %}
<script defer type="module" src="/static/user.js"></script>
<script>window.USER_ID = "{{ user.id }}";</script>
{% endblock %}

{% block main %}
<h1></h1>
<div class="row">
    <div class="col-md-6">
        <h2>{{ user.name }}'s items</h2>
        <section class="grid grid__user-items"></section>
    </div>
    <div class="col-md-6 col__about">
        <h1>{{ user.name }}'s profile</h1>
        <div id="profile-form">
            <form id="create-form" action="/api/v1/user" method="put" type="multipart/form-data" id="form">
                <ul class="grid grid__images m-0 list-unstyled"></ul>
                <header class="m-0">
                    <label class="m-0 cursor-pointer" for="upload">
                        <svg class="icon icon--photo-up" role="img" aria-hidden="true">
                            <use href="/static/sprite.svg#photo-up"></use>
                        </svg>
                    </label>
                    <input type="file" name="upload" id="upload" accept="image/*" multiple hidden>
                </header>
                <label for="description">Bio</label>
                <input type="hidden" name="avatar" id="avatar" value="">
                <textarea id="description" name="bio"></textarea>
                <button type="submit" class="w-100" id="create-btn">Save</button>
            </form>
        </div>
        <div id="profile">
            <img src="/api/v1/image/{{user.avatar}}" alt="avatar of {{user.name}}">
            <p> {{ user.bio }} </p>
        </div>
    </div>
</div>
{% endblock %}
