<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <script defer type="module" src="{{ url_for('static', path='/fetch-user.js') }}"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/" aria-label="Go to home page"><img src="{{ url_for('static', path='/logo.svg') }}" width="42" height="42" alt="Logo Flohmarkt"></a>
            <button>Register</button>
            <button>Sign in</button>
        </nav>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-6">
                <h1>{{ user }}'s items</h1>
                <div class="grid grid__my-items"></div>
            </div>
            <div class="col-sm-6 col__about"></div>
        </div>
    </main>
    <footer>Footer</footer>
</body>
</html>
