{% extends "base.html" %}

{% block scripts %}
<script defer type="module" src="/static/usersettings.js"></script>
{% endblock %}

{% block main %}
<div class="tabcontext">
    <ul class="tabs">
        <li class="tab" name="settings"> Profile </li>
        <li class="tab" name="blocking"> Blocking </li>
    </ul>
    <div class="tabpage tab_default" name="settings">
        <h1>Edit user profile</h1>
        <div id="profile-form" >
            <form id="save-form" action="/api/v1/user" method="put" type="multipart/form-data" id="form">
                <uploader-element id="image_uploader" max-width="128" max-height="128"></uploader-element>
                <label for="bio">Bio</label>
                <input type="hidden" name="avatar" id="avatar" value="">
                <textarea id="bio" name="bio"></textarea>
                <button type="submit" class="w-100" id="save-btn">Save</button>
            </form>
            <button type="submit" class="w-100 danger" id="delete-btn">Lösch dich!</button>
            <button type="submit" class="w-100 danger" id="notification-btn">Activate Desktop notifications</button>
        </div>
    </div>
    <div class="tabpage" name="blocking">
        <input id="blockUserInput" style="width:80%;display:inline;" placeholder="someuser@someinstance.nil"><button id="blockUserButton">Block User</button>
        <table id="blockUserTable" style="width: 100%">
            <thead>
                <td style="width: 99%;">Blocked Users</td>
                <td></td>
            </thead>
        </table>
    </div>
</div>
{% endblock %}
